.frames {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &-frame {
        padding: 10px 15px;
    }
    .card-content-not-available {
        min-width: 235px;
        overflow-x: hidden;
    }
}