.form-container {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    padding: 30px;
    @include desktop {
        margin: 40px;
        width: 40%;
    }
}

.signup-input {
    max-width: unset;
    margin: 10px;
}