.accordion {

  &-header {
    @include gradient-background (to right, $gold, $white, $secondary);
    padding-bottom: 3px;
    margin-bottom: 20px;

    &__inner {
      background: $dark-grey;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
  }

  &-content {
    display: none;

    &--show {
      display: block;
    }
  }

  &__icon {
    color: $white;
    transform: rotate(180deg);
    font-size: 20px;
    position: relative;
    top: 12px;
    right: 12px;
    transition: map-get($transitions, "primary");

    &--open {
      transform: rotate(0deg);
    }
  }
}
