.input {
  display: block;
  background-color: $primary;
  border: 0;
  color: $white;
  font-family: $font-primary;
  width: calc(100% - 12px);
  padding: 5px;
  font-size: 20px;

  &:focus {
    outline: 0;
  }

  &-wrapper {
    @include gradient-background(to right, $gold, $white, $secondary);

    padding: 3px;
    max-width: 200px;
  }
}
